.footer {
  background: linear-gradient(180deg, #0a2850 0%, #071931 100%);
  color: #fff;
  box-sizing: border-box;
}

.footer__content {
  padding: 60px 80px 108px 80px;
  position: relative;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__logo {
  width: 105px;
  height: 39px;
}

.footer__social-heading {
  margin: 0 0 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  display: flex;
  flex-direction: column;
}

.footer__list {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 0;
}

.footer__list-item {
  list-style-type: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.footer__list-item:last-child {
  margin-top: 16px;
}

.footer__social-icon {
  height: 16px;
  width: 16px;
  margin-right: 16px;
  text-align: right;
}

.footer__social-link {
  margin-left: 80px;
  color: white;
  text-decoration: none;
}

.footer__social-link:hover {
  color: #c1c1c1;
  transition: 0.3s ease;
}

.footer__copyright {
  padding: 0 0 60px 80px;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}
