.form {
  max-width: 385px;
  border-width: 0;
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
  border-width: 0;
}

.form__label {
  display: block;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__label_type_checkbox {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.form__input {
  display: block;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  margin-top: 8px;
  border-radius: 4px;
  height: 60px;
  font-family: "Inter", Arial, sans-serif;;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
  border-width: 1px;
  border-style: solid;
  border-color: black;
}

.form__button {
  width: 100%;
  padding: 0;
  margin-bottom: 32px;
  background-color: #2f80ed;
  color: white;
  opacity: 100%;
  transition: 0.3s ease;
  height: 60px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
  border: none;
}

.form__button:hover {
  opacity: 70%;
}

.form__checkbox {
  width: 20px;
  height: 20px;
  border-radius: 2px;
  background-color: #2f80ed;
  gap: 12px;
}
