.header {
  padding: 30px 80px 40px;
  max-height: 800px;
  min-height: 720px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
  background: url(../images/background_header.svg);
  background-size: cover;
  background-position: center;
}

.header__title {
  max-width: 729px;
  font-size: 60px;
  line-height: 72px;
  font-weight: 500;
  margin: 183px 0 0;
}

.header__span-accent {
  color: #2f80ed;
  font-style: italic;
  display: block;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-weight: normal;
}

.header__description {
  font-family: "Noto Serif", "Times New Roman", serif;
  max-width: 683px;
  font-size: 20px;
  line-height: 30px;
  margin: 28px 0 0;
}

.header__image {
  background: url(../images/inside_coffee_shop.png);
  position: absolute;
  z-index: -1;
  top: 124px;
  right: 5px;
  height: 568px;
  width: 646px;
}

.header__footer {
  margin-top: auto;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  box-sizing: border-box;
  color: #6f6f6f;
  font-weight: 500;
}

.header__paragraph {
  margin: 0;
}
